@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

/* colors
#30BCED - picton blue
#FC5130 - ogre odor orange
#303036 - jet blackish gray
#FAFAFA - Snow White
#F7FFF6 - Mint Cream 
//Pallette 3
#01172F - Maastricht Blue
#770f05 - Barn Red
#FFFAFF - White
*/

*{
  font-family: 'Montserrat', sans-serif;
  
}

html {
  scroll-behavior: smooth;
  background-color: #f7fff6;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: #f7fff6;
}

/* Universal Section Styles */

.section {
  height: 100vh;
}

.section-content {
  position: relative;
  background-color: #fffaff;
  margin-top: 20px;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.section-title{
  display: flex;
  flex-direction: row;
  
  
  position: absolute;
  content: "";
  width: 6px;
  height: 72px;
  background-color: #2C666E;
  /* padding-left: 40px; */
  top: 2px;
  left: 40px;
}

.title-h3{
  color: #041230;
  font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
    
}

.title-icon{
  color: #2C666E;
  font-size: 40px;
  margin: 5px 0 0 20px;

}

/* Nav */
.menu-icon {
  position: fixed;
  color: #2C666E;
  font-size: 70px;
  top: 20px;
  left: 20px;
  z-index: 1000;
  visibility: hidden;
}

.menu-icon-visible {
  visibility: visible;
}

.menu-icon:hover {
  color: white;
}

/* hero section */

.hero {
  background-image: url(../images/chicago.jpeg);
  background-position: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.hero-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 98.9vw;
  top: 0;
  left: 0;
  background-color: #04123096;
  overflow-x: hidden; 


}

.hero-content-wrap{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  z-index: 2;
}



.name{
  font-size: 6rem;
  color: white;
  border-bottom: 4px solid #2C666E;
}

.last-name{
  font-size: 6rem;
  color: #C75000;
}




.sub-title{
  font-size: 3rem;
  color: white;
  
}


.enter-icon{
  font-size: 6rem;
  color: #C75000 ;
  margin-top: 20px;
}

.enter-icon:hover{
  color: #2C666E;
  -webkit-animation-duration: 2.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(2);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* projects */




.project-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 150px 0 0 0;
  z-index: 5;
}

.project-img {
  width: 25rem;
  height: 25rem;
  border: 2px solid #01172f;
  margin-right: 80px;
  z-index: 5;
  
}
.project-img:last-child {
  margin-right: 10px;
}

/* contact */

.contact-section {
  margin-top: 30px;
  height: 100vh;
}

.section-h1-contact {
  top: 80%;
}

.section-bg-contact {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(#344b63, #011e3c); */
  background-image: linear-gradient(#011e3c, #344b63);
  transform: skewY(45deg);
  transform-origin: top left;
}

.form-styles {
  position: relative;
  background-color: #770f05;
  padding: 50px 20px 0 20px;
  width: 460px;
  height: 600px;
  margin: 0 auto;
  border: 4px solid #01172f;
}

.label-style {
  color: #fffaff;
  font-size: 20px;
}

.submit-btn {
  background-color: #01172f;
  border: 2px solid #01172f;
  font-size: 20px;
  margin: 150px 0 0 0;
}

.submit-btn:hover {
  background-color: #f7fff6;
  color: #770f05;
  border: 2px solid #f7fff6;
}
