@import url("https://fonts.googleapis.com/css?family=Exo+2|Permanent+Marker|Sarina");

/* colors
#30BCED - picton blue
#FC5130 - ogre odor orange
#303036 - jet blackish gray
#FAFAFA - Snow White
#F7FFF6 - Mint Cream 
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: #f7fff6;
}
/* 
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.hero {
  background-image: url(../images/architecture-bridges-buildings-1823680.jpg);
  background-position: left;
  height: 100vh;
}
.hero-content {
  position: relative;
  font-family: "Permanent Marker", cursive;
  font-size: 150px;
  letter-spacing: 10px;
  color: #001242;
  -webkit-text-stroke: 3px #000022;
  text-align: center;
  top: 30%;
  z-index: 5;
}
.hero-content-tag {
  font-size: 75px;
  -webkit-text-stroke: 1px #f7fff6;
  position: relative;
  text-align: center;
  top: 30%;
  z-index: 5;
}

.hero-btn {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 50px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  background-color: #f7fff63d;
  height: 20px;
  width: 500px;
  padding: 20px 0 50px 0;
  margin: 0 auto;
  top: 40%;
  border: 2px solid black;
  z-index: 5;
}

.hero-btn:hover {
  color: #0094c6;
  background-color: #040f16;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(48, 187, 237, 0.383);
}
.section-h1 {
  font-size: 100px;
  color: #000022;
  text-align: center;
}

.projects-section {
  margin-top: 20px;
  height: 100vh;
}

.container {
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.project-img-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.project-img {
  width: 400px;
  height: 400px;
  background-color: #001242;
  border: 2px solid orange;
  margin-right: 30px;
}

.contact-section {
  margin-top: 30px;
  height: 100vh;
}
